.card-list {
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 700px;
  padding: 5px 20px;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #2d3436;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #dfe6e9;
  }
}